:root {
  color-scheme: light dark;
  --text: #ddd;
  --bright: #fff;
  --dim: #888;
  --background-0: #231f1f;
  --background-1: #272222;
  --background-2: #2f2a2a;
  --background-3: #383333;
  --background-4: #4e4b4b;
  --black: #0c0a0a;
  --red: #e53;
  /* --dark-red: #b00020; */
  /* maybe should be called "dim-red" */
  --dark-red: #502010;
  --yellow: #fb4;
  --dark-yellow: #431;
  --bright-green: #5e3;
  --green: #5c6;
  --blue: #158;
  --light-blue: #39e;
  --ui-blue: #1177ff;
  --ui-dark-blue: #1155d4;
  --purple: #80f;
  --highlight: var(--yellow);
  --body-background: var(--background-0);
}
