:root {
  --form-gap: 0.5rem;
}

/* text input fields */

input[type="text"],
input[type="number"],
textarea {
  font-size: 0.75rem;
  background-color: var(--background-0);
  border: 0;
  margin: 0;
  padding: 1px;
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus {
  outline-offset: 2px;
  outline: 2px solid var(--ui-blue);
}

/* button */

button {
  border: 0;
  margin: 0;
  padding: 0.2rem;
  border-radius: 0.2rem;
  font-size: 0.75rem;
  line-height: 0.75rem;
  font-weight: bold;
  color: var(--bright);
  background-color: var(--ui-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--ui-dark-blue);
}

button:focus {
  outline-offset: 2px;
  outline: 2px solid var(--ui-blue);
}

button[disabled] {
  color: #fff4;
  cursor: not-allowed;
}

button[disabled]:hover {
  background-color: var(--ui-blue);
}

/* checkbox */

input[type="checkbox"] {
  margin: 0;
  padding: 0;
  width: 1rem;
  height: 1rem;
}

input[type="checkbox"]:focus {
  outline-offset: 2px;
  outline: 2px solid var(--ui-blue);
}

/* button-style replacement for radio buttons */

.toggle-row {
  display: flex;
  flex-direction: row;
  gap: 1px;
}

.toggle-row button {
  padding: 0.25rem 1rem;
  border-radius: 0;
  background-color: var(--background-4);
}

.toggle-row button.highlighted {
  background-color: var(--ui-blue);
}

.toggle-row button:hover {
  background-color: var(--background-3);
}

.toggle-row button.highlighted:hover {
  background-color: var(--ui-dark-blue);
}

.toggle-row button[disabled]:hover {
  background-color: var(--background-4);
}

.toggle-row button[disabled].highlighted:hover {
  background-color: var(--ui-blue);
}

.toggle-row button[class^="row-title"] {
  padding: 0.25rem 0.5rem;
  /* font-weight: normal; */
  cursor: unset;
}

.toggle-row button[class^="row-title"]:hover {
  background-color: var(--background-4);
  cursor: unset;
}

.toggle-row button:first-of-type {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.toggle-row button:last-of-type {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

/* range slider */

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
  margin: 0.25rem 0;
}

/*slider track*/
input[type="range"]::-webkit-slider-runnable-track {
  height: 4px;
}

input[type="range"]::-moz-range-track {
  height: 4px;
}

/*slider dot*/
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: calc(-0.75rem + 2px); /* Centers thumb on the track */
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
}

input[type="range"]::-moz-range-thumb {
  width: 1.5rem;
  height: 1.5rem;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0.25rem;
}

/*accessibility focus indicator*/
input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid;
  outline-offset: 0.125rem;
}

input[type="range"]:focus::-moz-range-thumb {
  outline: 3px solid;
  outline-offset: 0.125rem;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--background-4);
}

input[type="range"]::-moz-range-track {
  background-color: var(--background-4);
}

input[type="range"]::-webkit-slider-thumb {
  background-color: var(--ui-blue);
}

input[type="range"]::-moz-range-thumb {
  background-color: var(--ui-blue);
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline-color: var(--ui-blue);
}

input[type="range"]:focus::-moz-range-thumb {
  outline-color: var(--ui-blue);
}

input[type="range"][disabled]::-webkit-slider-thumb {
  background-color: var(--dim);
}

input[type="range"][disabled]::-moz-range-thumb {
  background-color: var(--dim);
}

/* color picker */

input[type="color"] {
  width: 2rem;
  height: 2rem;
  margin: 0;
  padding: 0;
}

/* all form components, overrides */

label + input[type="text"],
label + input[type="number"],
label + input[type="checkbox"],
label + input[type="range"] {
  margin-left: 0.5rem;
}

input[type="text"] + label,
input[type="number"] + label,
input[type="checkbox"] + label,
input[type="range"] + label {
  margin-left: 0.5rem;
}
