:root {
	color-scheme: light dark;
	--text: #ddd;
	--bright: #fff;
	--dim: #888;
	--background-0: #231f1f;
	--background-1: #272222;
	--background-2: #2f2a2a;
	--background-3: #383333;
	--background-4: #4e4b4b;
	--black: #0c0a0a;
	--red: #e53;
	--darkred: #b00020;
	--yellow: #fb4;
	--brightgreen: #5e3;
	--green: #5c6;
	--blue: #158;
	--lightblue: #39e;
	--uiblue: #1177ff;
	--uidarkblue: #1155d4;
	--purple: #80f;
	--highlight: var(--yellow);
	--body-background: var(--background-0);
}
