:root {
	color-scheme: light dark;
	--text: #ddd;
	--bright: #fff;
	--dim: #888;
	--background-0: #231f1f;
	--background-1: #272222;
	--background-2: #2f2a2a;
	--background-3: #383333;
	--background-4: #4e4b4b;
	--black: #0c0a0a;
	--red: #e53;
	--yellow: #fb4;
	--brightgreen: #5e3;
	--green: #5c6;
	--blue: #158;
	--lightblue: #39e;
	--uiblue: #1177FF;
	--uidarkblue: #1155D4;
	--purple: #80f;

	--highlight: var(--yellow);
	--body-background: var(--background-0);
}

/*:root {
	color-scheme: light;
	--text: black;
	--bright: black;
	--dim: #888;
	--background-0: #fff;
	--background-1: #eee;
	--background-2: #ddd;
	--background-3: #ccc;
	--background-4: #bbb;
	--black: black;
	--red: #e53;
	--yellow: #fb4;
	--brightgreen: #5e3;
	--green: #5e3;
	--blue: #158;
	--lightblue: #39e;
	--uiblue: #3478F6; #39e;
	--uidarkblue: #0055CC;
	--purple: #80f;

	--highlight: var(--uiblue);
	--body-background: var(--background-1);
}*/

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	color: var(--text);
	background-color: var(--body-background);
}

* {
	box-sizing: border-box;
}

html, body, #app {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
}

h1 { font-size: 1.8rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1rem; }
h1, h2, h3, h4, h5 {
	font-weight: bold;
}

h1, h2, h3, h4, h5,
p, span, label, ul, ol, li {
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}

hr {
	width: 100%;
	height: 1px;
	border: 0;
	padding: 0;
	margin: 0.25rem auto;
	background-color: var(--background-4);
}

button {
	cursor: pointer;
	border: 0;
	margin: 0;
	padding: 0.25rem 1rem;
	border-radius: 0.5rem;
	font-size: 1rem;
	line-height: 1rem;
	font-weight: bold;
	color: var(--bright);
	background-color: var(--uiblue);
	display: flex;
	align-items: center;
	justify-content: center;
}
button:hover {
	background-color: var(--uidarkblue);
}
button:focus {
	outline-offset: 2px;
	outline: 2px solid var(--uiblue);
}

input[type=text],
input[type=number],
textarea {
	font-size: 1rem;
	background-color: var(--background-0);
	border: 0;
}
input[type=text]:focus,
input[type=number]:focus,
textarea:focus {
	outline-offset: 2px;
	outline: 2px solid var(--uiblue);
}

input[type=checkbox] {
	margin: 0;
	padding: 0;
	width: 1rem;
	height: 1rem;
}
input[type=checkbox] + label {
	margin-left: 0.5rem;
}
input[type=checkbox]:focus {
	outline-offset: 2px;
	outline: 2px solid var(--uiblue);
}

/* button-style replacement for radio buttons */
.toggle-row {
	display: flex;
	flex-direction: row;
	gap: 1px;
}
.toggle-row button {
	padding: 0.25rem 1rem;
	border-radius: 0;
	background-color: var(--background-4);
}
.toggle-row button[highlighted=true] {
	background-color: var(--uiblue);
}
.toggle-row button:hover {
	background-color: var(--background-3);
}
.toggle-row button[highlighted=true]:hover {
	background-color: var(--uidarkblue);
}
.toggle-row button:first-of-type {
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}
.toggle-row button:last-of-type {
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

input[type=range] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
	width: 100%;
	margin: 0.85rem 0;
}
label + input[type=range] {
	margin-left: 0.5rem;
}
/*slider track*/
input[type=range]::-webkit-slider-runnable-track {
	height: 4px;
}
input[type=range]::-moz-range-track {
	height: 4px;
}
/*slider dot*/
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin-top: calc(-0.75rem + 2px); /* Centers thumb on the track */
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 0.25rem;
}
input[type=range]::-moz-range-thumb {
	width: 1.5rem;
	height: 1.5rem;
	border: none; /*Removes extra border that FF applies*/
	border-radius: 0.25rem;
}
/*accessibility focus indicator*/
input[type=range]:focus {
	outline: none;
}
input[type=range]:focus::-webkit-slider-thumb {
	outline: 3px solid;
	outline-offset: 0.125rem;
}
input[type=range]:focus::-moz-range-thumb {
	outline: 3px solid;
	outline-offset: 0.125rem;
}

input[type=range]::-webkit-slider-runnable-track {
	background-color: var(--background-4);
}
input[type=range]::-moz-range-track {
	background-color: var(--background-4);
}
input[type=range]::-webkit-slider-thumb {
	background-color: var(--uiblue);
}
input[type=range]::-moz-range-thumb {
	background-color: var(--uiblue);
}
input[type=range]:focus::-webkit-slider-thumb {
	outline-color: var(--uiblue);
}
input[type=range]:focus::-moz-range-thumb {
	outline-color: var(--uiblue);
}
input[type=range][disabled]::-webkit-slider-thumb {
	background-color: var(--dim);
}
input[type=range][disabled]::-moz-range-thumb {
	background-color: var(--dim);
}

input[type=color] {
	width: 2rem;
	height: 2rem;
	margin: 0;
	padding: 0;
}
