/* css variables for colors */
:root {
	color-scheme: light dark;
	--text: #ddd;
	--bright: #fff;
	--dim: #888;
	--background-0: #2a2a2a;
	--background-1: #333;
	--background-2: #3a3a3a;
	--background-3: #444;
	--yellow: #fb4;
	--blue: #158;
	--lightblue: #39e;
	--red: #e53;
	--brightgreen: #5e3;
	--green: #5c6;
	--highlight: var(--yellow);
}

/*:root {
	color-scheme: light;
	--text: black;
	--bright: black;
	--dim: #888;
	--background-0: #eee;
	--background-1: #fff;
	--background-2: #eee;
	--background-3: #ccc;
	--yellow: #fb4;
	--blue: #158;
	--lightblue: #39e;
	--red: #e53;
	--green: #5e3;
	--highlight: var(--lightblue);
}*/

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	color: var(--text);
	background-color: var(--background-0);
}

* {
	box-sizing: border-box;
}

html, body, #app {
	width: 100%;
	height: 100%;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1rem; }
h1, h2, h3, h4, h5 {
	font-weight: bold;
}

/*@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
}*/
