:root {
	/* faces */
	--front-color: var(--background-1);
	--back-color: var(--uiblue);
	--cp-color: var(--background-1);
	/* edges */
	--boundary-color: #888888;
	--valley-color: #0088ff;
	--mountain-color: #ee5533;
	--flat-color: #555555;
	--join-color: #ff8800;
	--cut-color: #88ff00;
	--unassigned-color: #8800ff;
	/* vertices */
	--vertex-color: #888888;
}

.crease-pattern .boundary { stroke: var(--boundary-color); }
.crease-pattern .valley { stroke: var(--valley-color); }
.crease-pattern .mountain { stroke: var(--mountain-color); }
.crease-pattern .flat { stroke: var(--flat-color); }
.crease-pattern .join { stroke: var(--join-color); }
.crease-pattern .cut { stroke: var(--cut-color); }
.crease-pattern .unassigned { stroke: var(--unassigned-color); }

.crease-pattern .graph-preview line {
	stroke: var(--highlight);
}

.crease-pattern .graph-preview circle {
	fill: var(--highlight);
}

.crease-pattern .graph-preview polygon {
	opacity: 0.5;
}

.crease-pattern polygon {
	fill: var(--cp-color);
	opacity: 0.75;
}

.crease-pattern polygon.highlighted {
	fill: var(--dim);
	opacity: 0.15;
}

.crease-pattern polygon.clockwise {
	fill: var(--darkred);
}

.crease-pattern circle.vertex {
	stroke: none;	
	fill: var(--vertex-color);
}

.crease-pattern circle.vertex.selected {
	fill: var(--highlight);
}

.crease-pattern line.selected {
	stroke: var(--highlight);
}

.crease-pattern polygon.selected {
	fill: var(--highlight);
	opacity: 0.5;
}

.folded-form polygon.front {
	fill: var(--front-color);
	stroke: var(--black);
}
.folded-form polygon.back {
	fill: var(--back-color);
	stroke: var(--black);
}
.folded-form polygon.transparent {
	fill: var(--background-4);
	stroke: var(--dim);
	opacity: 0.25;
}

.vertices-indices circle {
	stroke: var(--dim);
}
.vertices-indices text {
	fill: var(--text);
}
.edges-indices circle {
	stroke: var(--blue);
}
.edges-indices text {
	fill: var(--lightblue);
}
.faces-indices circle {
	stroke: var(--green);
}
.faces-indices text {
	fill: var(--brightgreen);
}
